{% comment %} include params: item (a _data/profile/menu.yml entry) {% endcomment %}
<section class="mac-window" id="{{ item.id }}" data-mac-window="{{ item.id }}" hidden>
  <header class="mac-window__bar" data-mac-drag-handle>
    <span class="mac-window__lights" aria-hidden="true">
      <button type="button" class="mac-window__light mac-window__light--red"    data-mac-close="{{ item.id }}" aria-label="Close {{ item.label }}"></button>
      <span class="mac-window__light mac-window__light--yellow"></span>
      <span class="mac-window__light mac-window__light--green"></span>
    </span>
    <span class="mac-window__title">{{ item.filename }}</span>
  </header>
  <div class="mac-window__body">
    {% case item.type %}
      {% when "skills" %}{% include profile/window-skills.html %}
      {% when "blog" %}{% include profile/window-blog.html %}
      {% when "projects" %}{% include profile/window-projects.html source=item.source %}
    {% endcase %}
  </div>
</section>
