---
layout: page
title: Portfolio
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    {% if tag[0]=='Project' or tag[0]=='Development' %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <hr/>
  <iframe src="https://v2-embednotion.com/78d4af3dfa8f4d45b498cf24422fe721" style="width: 100%; height: 1028px; border: 2px solid #ccc; border-radius: 10px; padding: none;"></iframe>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    {% if tag[0]=='Project' or tag[0]=='Development' %}
      <h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>

<!--     <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2> -->
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <h4><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li style="margin-bottom: -0.7rem;">
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a></h4>
      {% endfor %}
    </ul><br>
    {% endif %}
    {% endfor %}
  </div>
</div>
