/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */
.chat-expo {
  .chat {
    float: center; 
    width: 70%; 
    height: 325px; 
    margin-left: 10px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: none;
  }
  @media screen and (max-width:1024px) {
    // .chat {
    //   float: center; 
    //   width: 100%; 
    //   height: 280px; 
    //   border: 2px solid #ccc; 
    //   border-radius: 10px; 
    //   padding: none;
    // }
    .chat{
    --tw-bg-opacity: 1;
    align-items: center;
    background-color: rgb(240 242 246 / var(--tw-bg-opacity));
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-width: 0;
    bottom: 0;
    // display: flex;
    // font-size: .875rem;
    height: 2.25rem;
    justify-content: space-between;
    line-height: 1.25rem;
    position: fixed;
    width: 100%;
    }
  }
}
