<!DOCTYPE html>
<html lang="en-us">
  <head>
  {% include head.html %}
  </head>
  <body class="profile-desktop-page">
    {{ content }}
    <script src="{{ site.baseurl }}/public/js/profile-windows.js?v=1"></script>
    {% if site.google_analytics_token %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics_token }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
