@include selection {
  background: $dblue;
  color: $white;
}

html,body {
  overflow-x: hidden;
}

html {
  font-family: $font-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}

h1, h2, h3, h5 {
  font-family: $font-serif;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -.025rem;
}

h4, h6 {
  font-family: $font-sans;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -.025rem;
}

.modal-dialog{
    width: 94%;
    max-width: 700px;
    height: 70%;
}

/* Code block style */
code {
  color: #666;
}
pre {
  max-height: 500px !important;
  overflow-y: auto !important;
}

/*pre > code {
  margin: 1rem auto;
  white-space: pre;
  max-height: 200px; 
  max-width:  850px;
  overflow-x: auto;
  overflow-y:scroll !important; 
}*/

/*.hljs {
    margin: 1rem auto;
    white-space: pre;
    max-height: 200px; 
    max-width:  850px;
    overflow-x: auto;
    overflow-y:scroll !important; 
}*/
